body{
     background: black; 
}
#login{
    position: absolute;
    margin:0;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
   
}

.container{
    color: grey;
}

#registerButton{
    float: right;
}

.errorMsg{
    color: red;
}